version: "3.8"

services:
  
  mongodb:
    image: mongo
    ports:
      - "27018:27017"
    environment:
      no_proxy: ${no_proxy}
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      MONGO_INITDB_ROOT_USERNAME: agents
      MONGO_INITDB_ROOT_PASSWORD: agents
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
    restart: unless-stopped
  
  # groq-service:
  #   image: thebeginner86intel/ai-agents-groq:latest
  #   container_name: groq-service
  #   ports:
  #     - "5099:8000"
  #   volumes:
  #     - "./cache:/root/.cache"
  #   environment:
  #     no_proxy: ${no_proxy}
  #     http_proxy: ${http_proxy}
  #     https_proxy: ${https_proxy}
  #     GROQ_API_KEY: ${GROQ_API_KEY}
  #     HTTP_PROXY: ${HTTP_PROXY}
  #     HTTPS_PROXY: ${HTTPS_PROXY}

  backend:
    image: new_backend
    depends_on:
      - mongodb
    ports:
      - "8050:8050"
    environment:
      - no_proxy=${no_proxy},api.groq.com,*.groq.com
      - NO_PROXY=${no_proxy},api.groq.com,*.groq.com
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - HTTP_PROXY=${http_proxy}
      - HTTPS_PROXY=${https_proxy}
      - DB_NAME=${DB_NAME}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - MONGO_USERNAME=agents
      - MONGO_PASSWORD=agents
      - MONGO_URI=mongodb://agents:agents@mongodb:27017
    ipc: host
    restart: always
  
  ui:
    image: frontend_tender
    depends_on:
      - backend
    ports:
      - "5009:4173"
    environment:
      - no_proxy=${no_proxy}
    restart: always

networks:
  default:
    driver: bridge